
body {
	margin:0px;
	font-size:16px;
	color: lightgrey;
	background-color: black;
}

a {
	text-decoration:none;
}


.all-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.content {
	margin:20px;
	padding:20px;
	flex: 1 0 auto;
}

.insidecontent {
	padding:20px;
}

.menu {
	margin:0;
	padding:0;
}

header, footer {
	margin: 0;
	padding: 0;
	display: block;
	color: white;
	cursor:default;
}

p a{
	display: inline-block;
	color: black;
	text-align: center;
	padding-left: 14px;
	text-decoration: none;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a, .dropbtn. .title{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: red;
}

.liright {
	float:right;
	padding:0px;
}


@media screen (max-width: 2900px) {
	ul.sidenav {
	width: 100%;
		height: auto;
		position: relative;
	}
	ul.sidenav li a {
	float: left;
		padding: 15px;
	}
	div.content {
		margin-left: 0;
	}
}

li:last-child {
	border-right: none;
}


@media screen (max-width: 400px) {
	ul.sidenav li a {
		text-align: center;
		float: none;
	}
}

.message {
	position: relative;
	display: block;
	padding: 20px;
	background-color: red;
	color: white;
	cursor: default;
}

.message_error {
	position:relative;
	display:block;
	padding:0px;
	background-color:red;
	color:white;
	cursor:default;
	border: 0px solid;
	border-radius:10px;
}

.message_ok {
	position:relative;
	display:block;
	padding:0px;
	background-color:lightgreen;
	color:black;
	cursor:default;
	border: 0px solid;
	border-radius:10px;
}

.topleftmenu1:before {
	content:"\2630";
	padding-right:10px;
	padding-left:10px;
	text-decoration:bold;
	font-size:1.2em;
}

.center {
	text-align:center !important;
}

.container {
	position:relative;
	display:block;
	cursor:default;
	clear:both;
}

.card, .containerbox {
	position:relative;
	display:block;
	cursor:default;
	clear:both;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-header {
	padding:10px 10px 10px 10px;
	background-color:#2196F3;
	color:white;
	font-size:1.3em;
	cursor: default;
	border-radius: 5px;
}

.card-body {
	padding:20px;
}

.cardbody {
	border: 1px solid;
	border-color: #2196F3;
	border-radius: 5px;
}
.card p h2{
	padding:10px;
}

.card form {
	padding:20px;
}

.card-button {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	background-color:dimgrey;
	color:white;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	background-color:dimgrey;
	color:white;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.inputbutton {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

#inputlabel {
	width: 20%;
	border: 1px solid;
}


.spaceline {
	padding-top:25px;
}

.spaceline50 {
	padding-top:50px;
}

.spaceline100 {
	padding-top:100px;
}

